#city {
    padding-right: 50px !important;
}

#chart {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
#stat {
    margin-right: 50px;
}
@media only screen and (max-width: 800px) {
    #chart {
      width: 100%;
      height: 50vh;
    }
    #stat {
        margin-right: 40vw;
    }
  }